<div class="col-12">
  <div class="text-center mt-3">
    <h2>Mes services</h2>
    <div class="py-4">
      <p>Vous trouverez ici les différentes formules clef en main que je vous propose.<br>
      N’hésitez pas à me contacter pour en savoir plus, pour établir un devis ou pour un projet plus personnalisé.</p>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
      <%= render "list" %>
    </div>

  </div>

</div>
