<div class="col-12">
  <div class="mt-3 col-sm-12 col-md-8 mx-auto">

    <% if current_user && current_user.admin %>
      <%= link_to admin_user_path(current_user), class:"float-right pl-3" do %>
        <i class="fas fa-pen" title="<%= t('actions.update') %>"></i>
      <% end %>
    <% end %>

    <div class="about-content d-flex high-margin-top">
      <div class="about-image">
        <%#= image_tag(@principal_user.image.url, alt: 'Image', class: "img-fluid") if @principal_user.image? %>
        <%= cl_image_tag('https://res.cloudinary.com/dsxhzsgsy/image/upload/v1595584889/Manon-dos_yjqjjk.png', alt: 'Image', class: "img-fluid") %>
      </div>

      <div class="about-description bg-white p-4">
        <h4>À PROPOS</h4>
        <%# @principal_user.description.split("//").each do |paragraph| %>
          <div class="mt-3">
            <p class="text-justify">
              <%#= paragraph %>
              Formée au journalisme et spécialisée en journalisme culturel j’ai fais mes premiers pas au sein de divers magazines parisiens avant de revenir m’installer en Provence, ma région natale. J’y ai poursuivi ma carrière en tant que chargée de communication dans le domaine du tourisme. En 2019, je choisis de partir parcourir le monde, une expérience que j’ai retransmise avec passion sur un site internet www.vansodyssey.com.</p>

              <p class="text-justify">Je reviens aujourd’hui en France pour proposer mes services en tant que freelance dans les domaines variés, mais si indispensables, de la communication. Influencée par mes voyages, mes expériences et rencontres, je vous propose des formules adaptées à votre personnalité et votre marque.</p>

              <p class="text-justify">Travaillons ensemble, main dans la main, au développement de votre société et/ou produit, en élaborant des outils de communications efficaces et adaptés.</p>
          </div>
        <%# end %>
      </div>
    </div>

  </div>

</div>
