<div class="home-banner">
  <div class="col-8 mx-auto h-100">
    <div class="banner-container column">
      <h2 class="start-title">Vous avez besoin de créer du contenu de<br>
      qualité pour <strong>booster</strong> votre projet ?</h2>
      <h5 class="start-text">
        Je rédige vos contenus web, newsletters, articles de blog ou encore vos posts pour les réseaux sociaux.<br>
        Je conçois vos mises en page de brochures, flyers, dossiers de presse et autres documents de communication.<br>
        Vous souhaitez une formule clé en main ? N’hésitez plus !
      </h5>
      <a class="start-btn btn btn-primary" href="#">CONTACTEZ-MOI</a>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="for-more">

  </div>
</div>

