#master-head {
  text-align: center;
  margin-top: 2em;
}
#head-title {
  a {
    color: black;
    text-decoration: none;
  }
}
#head-navbar {
  text-align: center;
}
.navbar-list {
  margin: 0;
  padding-inline-start: 0;
}
.navbar-item {
  list-style: none;
  padding: 1em;
  display: inline-block;
}
.navbar-link {
  padding: 1em 2em;
  color: #606060;
  &:hover {
    text-decoration: none;
    color: #007BFF;
  }
}
